# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data and OS files
Data/
Backup/
.DS_Store
.vscode
.Rhistory

# Jupyter Notebooks
.ipynb_checkpoints
Untitled*.*
*old*.*

# Ignore Data files
Note*.*
*test*.*

# Environments and Secrets
.venv/
venv/
env/
.env